Repository MaxHalford/squill: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, frontend-typecheck

ruff:
  name: ruff linter
  entry: uv run --project backend ruff check --fix
  language: system

ruff-format:
  name: ruff formatter
  entry: uv run --project backend ruff format
  language: system

ty:
  name: ty type checker
  entry: uv run --project backend ty check backend
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend type check
  entry: bun run --cwd frontend type-check
  language: system
  pass_filenames: false
  stages:
  - pre-push

Update LandingPage.vue
  frontend/src/views/LandingPage.vue
Due: frontend-typecheck

parse ctes
  frontend/src/components/QueryEditor.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/SqlBox.vue
  frontend/src/constants/defaultQueries.ts
  frontend/src/data/changelog/2026-03-17.md
  frontend/src/stores/canvas.ts
  frontend/src/stores/duckdb.ts
  frontend/src/stores/sqlglot.ts
  frontend/src/utils/cteParser.test.ts
  frontend/src/utils/cteParser.ts
  frontend/src/utils/db.ts
  frontend/src/utils/storage.ts
  frontend/src/workers/sqlglot.worker.ts
Due: frontend-typecheck

inline
  frontend/src/components/QueryPanel.vue
  frontend/src/components/SqlBox.vue
  frontend/src/composables/useQueryExecution.ts
  frontend/src/data/changelog/2026-03-16.md
  frontend/src/utils/cteResolver.ts
  frontend/src/utils/queryAnalyzer.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

nits
  frontend/src/components/ResultsTable.vue
Due: frontend-typecheck

jsonhero
  frontend/src/components/RowDetailBox.vue
  frontend/src/data/changelog/2026-03-17.md
  frontend/src/utils/bigqueryConversion.ts
Due: frontend-typecheck

run dependencies
  frontend/src/components/MenuBar.vue
  frontend/src/components/PivotBox.vue
  frontend/src/components/SqlBox.vue
  frontend/src/data/changelog/2026-03-17.md
  frontend/src/stores/canvas.ts
  frontend/src/stores/settings.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

fix tests
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/SqlBox.vue
  frontend/src/stores/canvas.collaboration.test.ts
  frontend/src/stores/canvas.ts
Due: frontend-typecheck

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

updates since last visit
  CONTRIBUTING.md
  backend/alembic/versions/028cfa655ad1_add_first_name_and_last_name_to_users.py
  backend/models.py
  backend/routers/auth.py
  backend/routers/user.py
  backend/services/github_oauth.py
  backend/services/microsoft_oauth.py
  clean-canvas.md
  frontend/src/components/DebugPanel.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/WhatsNewModal.vue
  frontend/src/data/changelog/2026-03-16.md
  frontend/src/data/changelog/2026-03-17.md
  frontend/src/stores/user.ts
  frontend/src/types/user.d.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/AccountPage.vue
  frontend/src/views/AuthCallback.vue
  frontend/src/views/Home.vue
Due: ruff, ruff-format, ty, frontend-typecheck

ch
  backend/alembic/versions/g7h8i9j0k1l2_add_clickhouse_connections.py
  backend/main.py
  backend/models.py
  backend/pyproject.toml
  backend/routers/clickhouse.py
  backend/routers/connections.py
  backend/services/clickhouse_pool.py
  backend/uv.lock
  frontend/public/logos/clickhouse.svg
  frontend/src/components/ClickHouseConnectionModal.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/OnboardingModal.vue
  frontend/src/components/PostgresConnectionModal.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/composables/useQueryExecution.ts
  frontend/src/constants/defaultQueries.ts
  frontend/src/stores/clickhouse.ts
  frontend/src/stores/connections.ts
  frontend/src/stores/queryHistory.ts
  frontend/src/types/connection.d.ts
  frontend/src/types/database.ts
  frontend/src/utils/connectionHelpers.ts
  frontend/src/utils/schemaAdapter.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/Home.vue
Due: ruff, ruff-format, ty, frontend-typecheck

/simplify
  backend/routers/auth.py
  backend/routers/bigquery.py
  backend/routers/clickhouse.py
  backend/routers/connections.py
  backend/routers/postgres.py
  backend/routers/snowflake.py
  backend/services/encryption.py
  backend/services/postgres_pool.py
  backend/services/snowflake_pool.py
  backend/tests/test_snowflake_utils.py
  frontend/src/components/ClickHouseConnectionModal.vue
  frontend/src/components/PostgresConnectionModal.vue
  frontend/src/components/SnowflakeConnectionModal.vue
  frontend/src/data/changelog/2026-03-17.md
  frontend/src/stores/postgres.ts
  frontend/src/stores/snowflake.ts
  frontend/src/style.css
Due: ruff, ruff-format, ty, frontend-typecheck

Query execution performance: orjson, window COUNT, remove render cycle
  backend/alembic/versions/h8i9j0k1l2m3_add_mysql_connections.py
  backend/main.py
  backend/models.py
  backend/pyproject.toml
  backend/routers/connections.py
  backend/routers/mysql.py
  backend/services/mysql_pool.py
  backend/services/snowflake_pool.py
  backend/uv.lock
  frontend/public/logos/clickhouse.svg
  frontend/public/logos/mysql.svg
  frontend/src/components/MenuBar.vue
  frontend/src/components/MysqlConnectionModal.vue
  frontend/src/components/OnboardingModal.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/composables/useQueryExecution.ts
  frontend/src/constants/defaultQueries.ts
  frontend/src/data/changelog/2026-03-17.md
  frontend/src/stores/mysql.ts
  frontend/src/types/connection.d.ts
  frontend/src/types/database.ts
  frontend/src/utils/connectionHelpers.ts
  frontend/src/utils/schemaAdapter.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/Home.vue
  frontend/src/views/LandingPage.vue
Due: ruff, ruff-format, ty, frontend-typecheck

cast spell
  backend/config.py
  backend/main.py
  backend/routers/spell_caster.py
  backend/scripts/benchmarks/spell_caster.py
  backend/scripts/benchmarks/spell_caster_scenarios/add_cte_postgres.yaml
  backend/scripts/benchmarks/spell_caster_scenarios/add_group_by_bigquery.yaml
  backend/scripts/benchmarks/spell_caster_scenarios/add_limit_postgres.yaml
  backend/scripts/benchmarks/spell_caster_scenarios/add_order_by_duckdb.yaml
  backend/scripts/benchmarks/spell_caster_scenarios/add_where_clause_postgres.yaml
  backend/scripts/benchmarks/spell_caster_scenarios/change_join_type_postgres.yaml
  backend/scripts/benchmarks/spell_caster_scenarios/rename_column_alias_bigquery.yaml
  backend/scripts/benchmarks/spell_caster_scenarios/replace_project_bigquery.yaml
  backend/services/spell_caster.py
  frontend/src/components/QueryEditor.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/services/ai.ts
  frontend/src/views/LandingPage.vue
Due: ruff, ruff-format, ty, frontend-typecheck

stars
  frontend/src/components/ResultsTable.vue
  frontend/src/utils/cteParser.test.ts
  frontend/src/utils/cteParser.ts
Due: frontend-typecheck

casting animation
  frontend/src/components/QueryEditor.vue
  frontend/src/views/LandingPage.vue
Due: frontend-typecheck

DuckDB import
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/data/changelog/2026-03-18.md
  frontend/src/stores/duckdb.ts
  frontend/src/utils/connectionHelpers.ts
  frontend/src/utils/queryGenerator.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

cu
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/stores/duckdb.ts
  frontend/src/utils/queryGenerator.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

drop duckdb tables on deletion
  frontend/src/stores/duckdb.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

gc
  frontend/src/stores/duckdb.ts
  frontend/src/style.css
  frontend/src/types/database.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

Update QueryPanel.vue
  frontend/src/components/QueryPanel.vue
Due: frontend-typecheck

Update ResultsTable.vue
  frontend/src/components/ResultsTable.vue
Due: frontend-typecheck

Update QueryEditor.vue
  frontend/src/components/QueryEditor.vue
Due: frontend-typecheck

hex
  backend/scripts/benchmarks/hex_remover.py
  backend/scripts/benchmarks/hex_remover_scenarios/cte_missing_paren_duckdb.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/date_interval_bigquery.yaml
  backend/services/hex_remover.py
  frontend/src/data/changelog/2026-03-18.md
Due: ruff, ruff-format, ty

Update 2026-02-11.md
  frontend/src/data/changelog/2026-02-11.md
Due: none

Create missing_group_by_with_having.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/missing_group_by_with_having.yaml
Due: none

font rendering
  frontend/src/components/HistoryBox.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/style.css
  frontend/src/views/Workbench.vue
Due: frontend-typecheck

stuff
  .mcp.json
  backend/alembic/versions/i9j0k1l2m3n4_add_boxes_and_canvas_updates.py
  backend/main.py
  backend/mcp_server.py
  backend/models.py
  backend/pyproject.toml
  backend/routers/canvas.py
  backend/routers/ws.py
  backend/services/mcp_oauth.py
  backend/services/ws_manager.py
  backend/tests/conftest.py
  backend/tests/test_mcp.py
  backend/uv.lock
  frontend/src/components/CanvasDropdown.vue
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/components/SettingsPanel.vue
  frontend/src/components/ShareDialog.vue
  frontend/src/constants/keyboardShortcuts.ts
  frontend/src/data/changelog/2026-04-08.md
  frontend/src/services/canvas.ts
  frontend/src/stores/canvas.collaboration.test.ts
  frontend/src/stores/canvas.ts
  frontend/src/types/canvas.d.ts
  frontend/src/utils/canvasPersistence.ts
  frontend/src/utils/canvasWebSocket.ts
  frontend/src/views/Home.vue
Due: ruff, ruff-format, ty, frontend-typecheck

Update index.html
  frontend/index.html
Due: none

tauri prototype
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  backend/mcp_server.py
  frontend/bun.lock
  frontend/index.html
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/build.rs
  frontend/src-tauri/capabilities/default.json
  frontend/src-tauri/icons/128x128.png
  frontend/src-tauri/icons/128x128@2x.png
  frontend/src-tauri/icons/32x32.png
  frontend/src-tauri/icons/icon.icns
  frontend/src-tauri/icons/icon.ico
  frontend/src-tauri/src/cli_executor.rs
  frontend/src-tauri/src/lib.rs
  frontend/src-tauri/src/main.rs
  frontend/src-tauri/src/oauth.rs
  frontend/src-tauri/tauri.conf.json
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/OnboardingModal.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/services/bigquery/index.ts
  frontend/src/services/bigquery/oauthClient.ts
  frontend/src/services/bigquery/types.ts
  frontend/src/services/oauth/desktopGoogle.ts
  frontend/src/services/oauth/pkce.ts
  frontend/src/services/oauth/tokenStore.ts
  frontend/src/stores/bigquery.ts
  frontend/src/stores/connections.ts
  frontend/src/stores/user.ts
  frontend/src/utils/tauri.ts
  frontend/src/views/AuthCallback.vue
  frontend/src/views/Home.vue
  frontend/src/views/LandingPage.vue
Due: ruff, ruff-format, ty, frontend-typecheck

chore: bump package.json version to 0.1.0
  frontend/package.json
Due: none

fix: add contents:write permission to release workflow
  .github/workflows/release.yml
Due: none

fix: proper ICO format + build speed optimizations
  .github/workflows/release.yml
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/icons/icon.ico
Due: none

feat: download button on landing page + OAuth secrets in release
  .github/workflows/release.yml
  frontend/src/views/LandingPage.vue
Due: frontend-typecheck

chore: bump version to 0.1.1
  frontend/package.json
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/tauri.conf.json
  frontend/src/views/LandingPage.vue
Due: frontend-typecheck

chore: bump version to 0.2.0
  backend/Cargo.toml
  frontend/package.json
  frontend/src-tauri/tauri.conf.json
Due: none

lock
  backend/Cargo.lock
  frontend/src-tauri/Cargo.lock
Due: none

Path conditions:
  ruff: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  ty: any of: ^backend/ and \.py$
  frontend-typecheck: any of: ^frontend/ and \.(ts|mts|cts)$, \.vue$
