Repository MaxHalford/squill: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, frontend-typecheck

ruff:
  name: ruff linter
  entry: uv run --project backend ruff check --fix
  language: system

ruff-format:
  name: ruff formatter
  entry: uv run --project backend ruff format
  language: system

ty:
  name: ty type checker
  entry: uv run --project backend ty check backend
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend type check
  entry: bun run --cwd frontend type-check
  language: system
  pass_filenames: false
  stages:
  - pre-push

keyword
  frontend/src/components/SchemaBox.vue
  frontend/src/utils/sqlKeywordCompletions.ts
Due: frontend-typecheck

back from india
  CLAUDE.md
  frontend/src/components/MenuBar.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/components/SqlBox.vue
  frontend/src/composables/useChatTools.ts
  frontend/src/data/changelog/2026-02-28.md
  frontend/src/services/ai.ts
  frontend/src/stores/bigquery.ts
  frontend/src/stores/bigquerySchema.ts
  frontend/src/stores/canvas.ts
  frontend/src/stores/connections.ts
  frontend/src/stores/duckdb.ts
  frontend/src/stores/postgres.ts
  frontend/src/stores/settings.ts
  frontend/src/stores/snowflake.ts
  frontend/src/style.css
  frontend/src/types/canvas.d.ts
  frontend/src/types/connection.d.ts
  frontend/src/utils/schemaAdapter.ts
  frontend/src/utils/schemaBuilder.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/AuthCallback.vue
  frontend/src/views/Home.vue
Due: frontend-typecheck

Update postgres.py
  backend/routers/postgres.py
Due: ruff, ruff-format, ty

voice
  frontend/src/components/MenuBar.vue
  frontend/src/components/SqlBox.vue
  frontend/src/data/changelog/2026-03-02.md
  frontend/src/stores/settings.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/utils/voiceNotify.ts
Due: frontend-typecheck

eslint10
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/package.json
Due: none

disable culling
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/data/changelog/2026-03-02.md
  frontend/src/stores/canvas.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

preserve scroll
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/data/changelog/2026-03-02.md
Due: frontend-typecheck

less queries
  frontend/src/components/RowDetailBox.vue
  frontend/src/stores/connections.ts
  frontend/src/stores/duckdb.ts
  frontend/src/stores/queryHistory.ts
  frontend/src/utils/sqlDialects.ts
Due: frontend-typecheck

tooltip
  frontend/src/components/ResultsTable.vue
  frontend/src/directives/tooltip.ts
Due: frontend-typecheck

Update 2026-03-02.md
  frontend/src/data/changelog/2026-03-02.md
Due: none

virtual scroll
  frontend/src/components/DebugPanel.vue
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/ResizableBox.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/components/SqlBox.vue
  frontend/src/composables/useBoxVisibility.ts
  frontend/src/data/changelog/2026-03-02.md
  frontend/src/stores/duckdb.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

perf
  frontend/src/components/DebugPanel.vue
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/components/SqlBox.vue
  frontend/src/composables/useBoxConnection.ts
  frontend/src/data/changelog/2026-03-02.md
  frontend/src/stores/duckdb.ts
  frontend/src/utils/geometry.ts
  frontend/src/utils/sqlSanitize.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

Update ResultsTable.vue
  frontend/src/components/ResultsTable.vue
Due: frontend-typecheck

tanstack/vue-virtual
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/ResultsTable.vue
Due: frontend-typecheck

release
  frontend/src/data/changelog/2026-03-01.md
Due: none

fix
  frontend/bun.lock
  frontend/package.json
Due: none

fix prek
  frontend/eslint.config.js
  frontend/src/components/DebugPanel.vue
  frontend/src/stores/duckdb.ts
Due: frontend-typecheck

Update MenuBar.vue
  frontend/src/components/MenuBar.vue
Due: frontend-typecheck

aliases
  frontend/src/data/changelog/2026-03-01.md
  frontend/src/utils/queryAnalyzer.ts
  frontend/src/utils/sqlKeywordCompletions.ts
Due: frontend-typecheck

background colors
  frontend/src/components/QueryEditor.vue
  frontend/src/utils/sqlKeywordCompletions.ts
Due: frontend-typecheck

highlights suggestion matches
  frontend/src/components/ResultsTable.vue
  frontend/src/data/changelog/2026-03-01.md
  frontend/src/utils/queryAnalyzer.ts
  frontend/src/utils/sqlKeywordCompletions.ts
Due: frontend-typecheck

cache
  frontend/src/components/QueryEditor.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/stores/duckdb.ts
  frontend/src/utils/queryAnalyzer.ts
  frontend/src/utils/sqlDialects.ts
  frontend/src/utils/sqlKeywordCompletions.ts
Due: frontend-typecheck

Update duckdb.ts
  frontend/src/stores/duckdb.ts
Due: frontend-typecheck

raf
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/ResizableBox.vue
Due: frontend-typecheck

Update QueryEditor.vue
  frontend/src/components/QueryEditor.vue
Due: frontend-typecheck

faster zoom
  frontend/src/components/InfiniteCanvas.vue
Due: frontend-typecheck

tldraw tricks
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/ResizableBox.vue
  frontend/src/views/Home.vue
Due: frontend-typecheck

sqlglot
  frontend/src/components/QueryEditor.vue
  frontend/src/data/changelog/2026-03-03.md
  frontend/src/stores/sqlglot.ts
  frontend/src/views/Home.vue
  frontend/src/workers/sqlglot.worker.ts
  frontend/vite.config.ts
Due: frontend-typecheck

fix tests
  frontend/src/utils/pivotIntegration.test.ts
  frontend/src/utils/pivotQueryBuilder.test.ts
Due: frontend-typecheck

Update QueryPanel.vue
  frontend/src/components/QueryPanel.vue
Due: frontend-typecheck

nits
  .gitignore
  frontend/src/components/CopyButton.vue
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/ResizableBox.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/composables/useBoxVisibility.ts
  frontend/src/stores/duckdb.ts
  frontend/src/utils/sqlKeywordCompletions.ts
  frontend/src/utils/typeUtils.ts
  frontend/src/workers/sqlglot.worker.ts
Due: frontend-typecheck

Update LandingPage.vue
  frontend/src/views/LandingPage.vue
Due: frontend-typecheck

get collab working
  backend/alembic/versions/f6g7h8i9j0k1_add_canvas_and_shares.py
  backend/main.py
  backend/models.py
  backend/routers/canvas.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/ExplainBox.vue
  frontend/src/components/HistoryBox.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/ResizableBox.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/components/ShareDialog.vue
  frontend/src/data/changelog/2026-03-10.md
  frontend/src/stores/canvas.collaboration.test.ts
  frontend/src/stores/canvas.ts
  frontend/src/types/database.ts
  frontend/src/utils/collaboration.ts
  frontend/src/views/Home.vue
  frontend/src/views/LandingPage.vue
  frontend/src/workers/sqlglot.worker.ts
  hocuspocus/.env.example
  hocuspocus/README.md
  hocuspocus/bun.lock
  hocuspocus/package-lock.json
  hocuspocus/package.json
  hocuspocus/src/server.ts
  hocuspocus/tsconfig.json
Due: ruff, ruff-format, ty, frontend-typecheck

bun build
  frontend/.env.example
  hocuspocus/package.json
Due: none

try this
  frontend/src/components/ShareDialog.vue
  frontend/src/stores/canvas.ts
  frontend/src/types/canvas.d.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

less quacks
  frontend/src/components/QueryPanel.vue
  frontend/src/components/SqlBox.vue
  frontend/src/stores/duckdb.ts
Due: frontend-typecheck

improve collab
  backend/routers/canvas.py
  backend/services/auth.py
  backend/squill.db-shm
  backend/squill.db-wal
  frontend/src/components/CanvasDropdown.vue
  frontend/src/components/CursorOverlay.vue
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/ShareDialog.vue
  frontend/src/stores/canvas.ts
  frontend/src/style.css
  frontend/src/types/canvas.d.ts
  frontend/src/utils/collaboration.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/Home.vue
Due: ruff, ruff-format, ty, frontend-typecheck

Update 2026-03-10.md
  frontend/src/data/changelog/2026-03-10.md
Due: none

Path conditions:
  ruff: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  ty: any of: ^backend/ and \.py$
  frontend-typecheck: any of: ^frontend/ and \.(ts|mts|cts)$, \.vue$
