Repository MaxHalford/squill: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, ty, frontend-typecheck

ruff:
  name: ruff linter
  entry: uv run --project backend ruff check --fix
  language: system

ruff-format:
  name: ruff formatter
  entry: uv run --project backend ruff format
  language: system

ty:
  name: ty type checker
  entry: uv run --project backend ty check backend
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend type check
  entry: bun run --cwd frontend type-check
  language: system
  pass_filenames: false
  stages:
  - pre-push

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

ci
  .github/workflows/ci.yml
  CONTRIBUTING.md
  backend/config.py
  backend/pyproject.toml
  backend/tests/__init__.py
  backend/tests/test_auth.py
  backend/tests/test_encryption.py
  backend/tests/test_snowflake_utils.py
  backend/uv.lock
  frontend/src/utils/errorClassifier.test.ts
Due: ruff, ruff-format, ty, frontend-typecheck

mock
  .github/workflows/ci.yml
  backend/alembic/env.py
  backend/config.py
  backend/database.py
  backend/main.py
  backend/routers/auth.py
  backend/routers/bigquery.py
  backend/routers/billing.py
  backend/routers/postgres.py
  backend/routers/snowflake.py
  backend/services/auth.py
  backend/tests/test_auth.py
Due: ruff, ruff-format, ty

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update README.md
  README.md
Due: none

fix cors
  backend/main.py
  backend/tests/test_cors.py
Due: ruff, ruff-format, ty

Create conftest.py
  backend/tests/conftest.py
Due: ruff, ruff-format, ty

Update .gitattributes
  .gitattributes
Due: none

fit to view
  frontend/src/components/BaseBox.vue
  frontend/src/components/ColumnAnalyticsBox.vue
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/views/Home.vue
Due: frontend-typecheck

simplify
  backend/scripts/benchmark_fixer.py
  backend/services/ai_fixer.py
Due: ruff, ruff-format, ty

more checks
  backend/scripts/benchmark_fixer.py
  backend/scripts/benchmark_scenarios/date_interval_bigquery.yaml
  backend/scripts/benchmark_scenarios/having_without_group_by_postgres.yaml
  backend/scripts/benchmark_scenarios/null_comparison_postgres.yaml
  backend/scripts/benchmark_scenarios/typo_join_keyword_snowflake.yaml
  backend/scripts/benchmark_scenarios/unclosed_parenthesis_bigquery.yaml
  backend/scripts/benchmark_scenarios/wrong_string_quotes_postgres.yaml
Due: ruff, ruff-format, ty

nits
  frontend/public/logos/bigquery.png
  frontend/public/logos/duckdb-darkmode.svg
  frontend/public/logos/duckdb.jpeg
  frontend/public/logos/postgresql.png
  frontend/public/logos/snowflake.png
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/OnboardingModal.vue
  frontend/src/components/StickyNoteBox.vue
  frontend/src/constants/defaultQueries.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

dedup conns
  frontend/src/stores/connections.ts
  frontend/src/stores/postgres.ts
  frontend/src/stores/snowflake.ts
Due: frontend-typecheck

agent
  backend/main.py
  backend/routers/chat.py
  backend/services/ai_agent.py
  backend/services/ai_fixer.py
  frontend/src/components/ChatBox.vue
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/components/SqlBox.vue
  frontend/src/composables/useChat.ts
  frontend/src/composables/useChatTools.ts
  frontend/src/composables/useQueryExecution.ts
  frontend/src/stores/canvas.ts
  frontend/src/types/canvas.d.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/Home.vue
  frontend/src/views/LandingPage.vue
  frontend/src/views/PrivacyPolicy.vue
  frontend/src/views/TermsOfService.vue
Due: ruff, ruff-format, ty, frontend-typecheck

move to responses
  backend/services/ai_agent.py
  backend/services/ai_fixer.py
  frontend/src/components/ChatBox.vue
Due: ruff, ruff-format, ty, frontend-typecheck

rename
  CONTRIBUTING.md
  backend/main.py
  backend/routers/hex_remover.py
  backend/routers/wizard.py
  backend/scripts/benchmark_fixer.py
  backend/scripts/benchmarks/__init__.py
  backend/scripts/benchmarks/common.py
  backend/scripts/benchmarks/hex_remover.py
  backend/scripts/benchmarks/hex_remover_scenarios/date_interval_bigquery.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/having_without_group_by_postgres.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/missing_comma_postgres.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/missing_group_by_bigquery.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/misspelled_keyword_duckdb.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/null_comparison_postgres.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/typo_function_name_bigquery.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/typo_join_keyword_snowflake.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/unclosed_parenthesis_bigquery.yaml
  backend/scripts/benchmarks/hex_remover_scenarios/wrong_string_quotes_postgres.yaml
  backend/services/hex_remover.py
  backend/services/wizard.py
  frontend/src/components/ChatBox.vue
  frontend/src/services/ai.ts
Due: ruff, ruff-format, ty, frontend-typecheck

refactor
  backend/services/wizard.py
  frontend/src/components/ChatBox.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/SqlBox.vue
  frontend/src/composables/useChat.ts
  frontend/src/composables/useChatTools.ts
  frontend/src/composables/useQueryExecution.ts
Due: ruff, ruff-format, ty, frontend-typecheck

fix
  frontend/src/components/QueryPanel.vue
  frontend/src/composables/useChatTools.ts
  frontend/src/types/database.ts
Due: frontend-typecheck

lint
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/Dockerfile
  frontend/eslint.config.js
  frontend/package.json
Due: none

form names
  frontend/src/components/ChatBox.vue
  frontend/src/components/HistoryBox.vue
  frontend/src/components/SchemaBox.vue
Due: frontend-typecheck

lighthouse score
  frontend/index.html
  frontend/src/views/LandingPage.vue
  frontend/vite.config.ts
Due: frontend-typecheck

github oauth
  CONTRIBUTING.md
  backend/.env.example
  backend/config.py
  backend/routers/auth.py
  backend/services/github_oauth.py
  frontend/.env.example
  frontend/public/logos/github.svg
  frontend/public/logos/google.svg
  frontend/src/components/MenuBar.vue
  frontend/src/data/changelog.ts
  frontend/src/data/changelog/2026-02-02.md
  frontend/src/data/changelog/2026-02-09.md
  frontend/src/main.ts
  frontend/src/stores/user.ts
  frontend/src/types/user.d.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/AccountPage.vue
  frontend/src/views/AuthCallback.vue
  frontend/src/views/Changelog.vue
  frontend/src/views/LandingPage.vue
Due: ruff, ruff-format, ty, frontend-typecheck

Update nginx.conf
  frontend/nginx.conf
Due: none

Update Dockerfile
  frontend/Dockerfile
Due: none

try this
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

try Caddy
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

fix BQ issues
  frontend/src/components/MenuBar.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/stores/bigquery.ts
  frontend/src/stores/canvas.ts
  frontend/src/stores/connections.ts
  frontend/src/views/Home.vue
  frontend/src/views/LandingPage.vue
Due: frontend-typecheck

idb
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/CanvasDropdown.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/SqlBox.vue
  frontend/src/data/changelog/2026-02-11.md
  frontend/src/stores/bigquery.ts
  frontend/src/stores/bigquerySchema.ts
  frontend/src/stores/canvas.ts
  frontend/src/stores/connections.ts
  frontend/src/stores/queryHistory.ts
  frontend/src/stores/settings.ts
  frontend/src/stores/user.ts
  frontend/src/types/bigquery.d.ts
  frontend/src/utils/db.ts
  frontend/src/utils/schemaAdapter.ts
  frontend/src/utils/schemaBuilder.ts
  frontend/src/utils/storage.ts
  frontend/src/utils/storageSchemas.ts
  frontend/src/views/AccountPage.vue
  frontend/src/views/AuthCallback.vue
  frontend/src/views/Home.vue
Due: frontend-typecheck

borders
  frontend/src/components/BoxCreationButtons.vue
  frontend/src/components/CanvasDropdown.vue
  frontend/src/components/ColumnAnalyticsBox.vue
  frontend/src/components/JsonTree.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/components/UploadProgress.vue
  frontend/src/style.css
  frontend/src/views/AccountPage.vue
  frontend/src/views/AuthCallback.vue
  frontend/src/views/Changelog.vue
  frontend/src/views/Home.vue
  frontend/src/views/LandingPage.vue
  frontend/src/views/PrivacyPolicy.vue
  frontend/src/views/RefundPolicy.vue
  frontend/src/views/TermsOfService.vue
Due: frontend-typecheck

fix BQ auto-complete
  frontend/src/components/MenuBar.vue
  frontend/src/components/QueryPanel.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/stores/bigquery.ts
  frontend/src/stores/bigquerySchema.ts
  frontend/src/views/AuthCallback.vue
Due: frontend-typecheck

better autocomplete
  frontend/src/components/BoxCreationButtons.vue
  frontend/src/components/DependencyArrows.vue
  frontend/src/components/InfiniteCanvas.vue
  frontend/src/components/QueryEditor.vue
  frontend/src/components/ResizableBox.vue
  frontend/src/data/changelog/2026-02-02.md
  frontend/src/data/changelog/2026-02-09.md
  frontend/src/data/changelog/2026-02-16.md
  frontend/src/utils/sqlKeywordCompletions.ts
  frontend/src/utils/tableLinkExtension.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

dark
  frontend/src/App.vue
  frontend/src/data/changelog/2026-02-16.md
  frontend/src/stores/settings.ts
  frontend/src/utils/sqlDialects.ts
Due: frontend-typecheck

kill search
  frontend/src/components/ColumnAnalyticsBox.vue
  frontend/src/components/MenuBar.vue
  frontend/src/components/ResultsTable.vue
  frontend/src/components/RowDetailBox.vue
  frontend/src/components/SchemaBox.vue
  frontend/src/utils/formatUtils.ts
Due: frontend-typecheck

Update 2026-02-16.md
  frontend/src/data/changelog/2026-02-16.md
Due: none

autocomplete race condition
  frontend/src/components/SchemaBox.vue
  frontend/src/stores/bigquery.ts
  frontend/src/stores/bigquerySchema.ts
  frontend/src/views/Home.vue
Due: frontend-typecheck

Path conditions:
  ruff: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  ty: any of: ^backend/ and \.py$
  frontend-typecheck: any of: ^frontend/ and \.(ts|mts|cts)$, \.vue$
